::selection { color: black; background: lime }
html { color: #111; background: violet }
[href] { color: #111; background: coral }
:focus { outline-color: seashell }

* { box-sizing: border-box }

html {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.5;
}

body {
  margin: 0 auto 0 0;
  padding: 2rem;
  max-width: 50em;
}

dfn {
  font-style: inherit;
  font-weight: bold;
}

ul {
  padding: 0;
  list-style: none;
  line-height: 2;
  margin-bottom: 2rem;
}
